# String Based Assignment Problem

In [51]:
# Q.1    Write a program to reverse a string

string1 = "Hello World"

# reversing a string

string1_rev = string1[::-1]

print(string1_rev)

dlroW olleH

In [52]:
# Q.2    Check if a string is palindrome

# Taking input from the user

str2 = input("Enter the string: ")

# checking if the entered string is palindrome or not

if str2 == str2[::-1]:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter the string:  elle

String is palindrome

In [53]:
# Q.3   Convert a string to upper case
''' Ans.3.   We will convert the string declared in the Ans.1 to upper case'''

string1.upper()

'HELLO WORLD'

In [54]:
# Q.4   Convert a string to lowercase

''' Ans.4.   We will convert the string declared in the Ans.1 to lower case'''

string1.lower()

'hello world'

In [55]:
# Q.5    Count the number of vowels in a string

''' Ans.5.   It will take an input and count the number of vowels'''

str3 = input("Enter the string: ")

# checking the number of vowels

count_vowel = 0

for i in str3:
    if i in 'aeiouAEIOU':
        count_vowel+=1

print("Number of vowels in the string are : ", count_vowel)

Enter the string:  Hello

Number of vowels in the string are :  2

In [56]:
# Q.6   Count the number of consonants in a string

''' Ans.6.   It will take an input and count the number of consonants'''

str4 = input("Enter the string: ")

# checking the number of vowels

count_cons = 0

for j in str4:
    if j not in 'aeiouAEIOU':
        count_cons+=1

print("Number of consonants in the string are : ", count_cons)

Enter the string:  Hello

Number of consonants in the string are :  3

In [57]:
# Q.7   Remove all whitespaces from a string

'''Ans.7  removing leading and trailing whitespaces from the string'''

str5 = '    Hello! How are khana kha ke jaana     '

print(str5)

# Removing the whitespaces

str5_no_whitespace = str5.strip()

print(str5_no_whitespace)

    Hello! How are khana kha ke jaana
Hello! How are khana kha ke jaana

In [58]:
# Q.8   Find the length of a string without using 'len()' function

# Taking input from user

str6 = input("Enter the string: ")

# Finding length of string

length_str6 = 0

for i in str6:
    length_str6 += 1

print("Length of the string is = ",length_str6)

Enter the string:  jai shri ram

Length of the string is =  12

In [59]:
# Q.9   Check if a string contains a specific word

str7 = "Hello Sunshine, the world says Good Morning"

# Taking input from user

word_str7 = input("Enter the word to be checked: ")

# checking if word in the string

if word_str7.lower() in str7.lower():

    print(f"yes the string contains {word_str7}") 

else:
    print("Sorry the word is not in string")

Enter the word to be checked:  the

yes the string contains the

In [60]:
# Q.10  Replace a word in a string with another word

# Declaring a string

str8 = "Jai Shri Ram"

str_repl = str8.replace("Ram", "Krishna")

print(str_repl)

Jai Shri Krishna

In [62]:
# Q.11   Count the occurences of a word in a string

# declaring a string

str9 = "Har Har Shambhu, Har Har Shambhu, Shiva Mahadeva"

# Taking input from user

to_count = input("Enter the word to be counted: ")

word_count1= str9.lower().count(to_count)

print(f"The word occurred {word_count1} times")

Enter the word to be counted:  har

The word occurred 4 times

In [63]:
# Q.12   Find the first occurence of a word in a string

str10 = "Karle jugaad bande karle koi jugaad"

# finding the first occurence of the word

str10.find("jugaad")

6

In [68]:
# Q.13   Find the last occurence of a word in a string

'''finding the last occurence of the word from the str 
declared in above problem'''

str10.rfind("jugaad")

29

In [69]:
# Q.14   Split a string into list of words

# using the same str declared in problem 12
list_word = str10.split()

print(list_word)

['Karle', 'jugaad', 'bande', 'karle', 'koi', 'jugaad']

In [70]:
# Q.15   Join a list of word into a string

# using the output of above problem 14

str_from_list = " ".join(list_word)

print(str_from_list)

Karle jugaad bande karle koi jugaad

In [71]:
'''# Q.16   Convert a string where words are separated by spaces to one where words 
are separated by underscores'''

# using the output of above problem 15

str_underscore = str_from_list.replace(" ", "_")

print(str_underscore)

Karle_jugaad_bande_karle_koi_jugaad

In [17]:
# Q.17   Check if string starts with specific word or phrase

'''Ans.17    Checking in the string which was output to q.15 and taking
            input from user for the word'''

word_tocheck =  input("word to check for start with: ")

# checking the condition

if str_from_list.startswith(word_tocheck):

    print(f"Yes the string starts with {word_tocheck}")

else:
    print("No it doesn't")

word to check for start with:  har

No it doesn't

#### Q.18   Check if string ends with a specific word or phrase

In [72]:
'''Ans.18    Checking in the string which was output to q.15 and taking
            input from user for the word'''

word_endcheck =  input("word to check for ends with: ")

# checking the condition in the string output of q.15

if str_from_list.endswith(word_endcheck):

    print(f"Yes the string ends with {word_endcheck}")

else:
    print("No it doesn't")

word to check for ends with:  jugaad

Yes the string ends with jugaad

#### Q.19    Convert a string to title case

In [19]:
'''Ans.19    Converting the string which was output to q.15'''

str_title = str_from_list.title()

print(str_title)

Karle Jugaad Bande Karle Koi Jugaad

#### Q.20 Find the longest word in a string

In [20]:
'''Ans.20   Taking input of string from user and finding longest word in it'''

str11= input("Enter the string for longest word: ")

# finding the longest word

longest_word = max(str11.split(),key=len)

print(longest_word)

Enter the string for longest word:  Hello Good Morning

Morning

#### Q.21   Find the shortest word in a string

In [21]:
'''Ans.21   Finding shortest word from string taken as input in above qn20'''

shortest_word = min(str11.split(), key=len)

print(shortest_word)

Good

#### Q.22   Reverse the order of words in string

In [22]:
'''Ans.22   Reversing the order of words in string which was output to q no 15'''

rev_word_str = " ".join(str_from_list.split()[::-1])

print(rev_word_str)

jugaad koi karle bande jugaad Karle

#### Q.23   Check if a string is alphanumeric

In [23]:
'''Ans.23  Checking if input string is alphanumeric'''

# Taking input from user

str12= input("Enter the string for alpha num check: ")

# checking the condition

if str12.isalnum:

    print("Yes the string is alpha numeric")

else:

    print("No it is not")

Enter the string for alpha num check:  Hello 123

Yes the string is alpha numeric

#### Q.24   Extract all digits from string

In [24]:
'''Ans.24   All digits from the input string will be extracted and appended into the list'''

# taking input from user

str13 = input("Enter the string for digit extraction: ")

# declaring an empty string

digit_from_str = []

# checking the condition

for i in str13:
    if i.isdigit():
        digit_from_str.append(i)

print(digit_from_str)

Enter the string for digit extraction:  He11o

['1', '1']

#### Q.25   Extract all the alphabets from string

In [26]:
'''Ans.25   All alphabets from the input string will be extracted and appended into the list'''

# taking input from user

str14 = input("Enter the string for alphabets extraction: ")

# declaring an empty string

alpha_from_str = []

# checking the condition

for i in str14:
    if i.isalpha():
        alpha_from_str.append(i)

print(alpha_from_str)

Enter the string for alphabets extraction:  Hello 123

['H', 'e', 'l', 'l', 'o']

#### Q.26   Count the number of upper case letters in a string

In [27]:
'''Ans.26  counting the number of upper case character in a input string'''

# Taking input from user

str15 = input("Enter the string for checking:")

# checking the condition

count_upper=0

for i in str15:
    if i.isupper():
        count_upper += 1

print(count_upper)

Enter the string for checking: Hello World

2

#### Q.27    Count the number of lower case letters in a string

In [28]:
'''Ans.27  counting the number of lower case character in above qn string'''

# checking the condition

count_lower=0

for i in str15:
    if i.islower():
        count_lower += 1

print(count_lower)

8

#### Q.28   Swap the case of each character in a string

In [29]:
'''Ans.28   Swapping the case of string declared below'''

str16 = "Hello World Hii"

str16.swapcase()

'hELLO wORLD hII'

#### Q.29    Remove a specific word from the string

In [30]:
'''Ans.29 Removing a word from the string which was output to q no 15'''

# taking user input

word=input("Enter the word to be removed")

# removing the word

if word in str_from_list:
    str_word_rem = str_from_list.replace(word, "\b")
    print(str_word_rem)
else:
    print("Sorry the word is not in string")

Enter the word to be removed karle

Karle jugaad bande koi jugaad

#### Q.30   Check if a string is a valid email address

In [31]:
'''Ans. To check whether a string is valid email address or not.
        a valid email string must have:
          1. Local part + '@' symbol + Domain part
          2. Local part cannot be empty
          3. Domain part must have minimum one '.' and be at least 2-3 chars
          4. Only allowed special characters are '.' and '-'
          '''

email = input("Enter the email: ")

# checking validity of email

a = 0
b = 0
dot=0
local_cond = True
domain_cond = True



if email.count('@')==1 and (not email.startswith('@')):

    email_list = email.split('@')

    for i in email_list[0]:
    
        if i.isalnum():
            a+=1
    
        elif i not in '.-':
            local_cond = False
            break

    for j in email_list[1]:
        
        if j=='.':
            dot+=1
        if j.isalnum():
            b+=1
        elif j not in '.-':
            domain_cond = False
            break

if a>0 and b>2 and domain_cond and local_cond and dot>=1:

    print("Email is valid")

else:

    print("Email is invalid")

Enter the email:  shivam@gmail.com

Email is valid

#### Q.31   Extract the username from an email address

In [32]:
'''Ans.31 Extracting username from email address '''

# Taking input from user

email1= input("Enter the email address: ")

# username disply

username1=email1.split('@')[0]

print(username1)

Enter the email address:  shivam@gmail.com

shivam

#### Q.32 Extract domain name from email address

In [33]:
'''Ans.32 Extracting domain name from email address '''

# Taking input from user

email1= input("Enter the email address: ")

# domain name disply

domainname1=email1.split('@')[1]

print(domainname1)

Enter the email address:  shivam@gmail.com

gmail.com

#### Q.33  Replace multiple spaces in a string with single space.

In [34]:
'''Ans. 33 Replacing multiple spaces in a string with single space'''

# declaring a string
str17 = 'Hello    Monday    Tuesday'

# removing the multiple space
multi_space_rem = ' '.join(str17.split())

print(multi_space_rem)

Hello Monday Tuesday

#### Q.34  Check if a string is a valid url

In [35]:
'''Ans.32   Extracting domain name from email address
            Condition for checking valid url is that both
            scheme and network location are present'''

# Importing 

from urllib.parse import urlparse

# Taking input from user

url1= input("Enter the URL: ")

# Checking the validity of the url

result = urlparse(url1)

if result.scheme != '' and result.netloc != '':

    print("URL is valid")

else:

    print("Invalid URL")

Enter the URL:  https://google.com

URL is valid

#### Q.35  Extract the protocol from a url string

In [36]:
'''Ans.35  '''

# Taking input from the user for url

url2= input("Enter the URL: ")

# Extracting the protocol

result1= urlparse(url2)

print(result1.scheme)

Enter the URL:  https://google.com

https

####  Q.36 Find the frequency of each character in string

In [37]:
'''Ans.36  Taking the input string and checking frequency of characters'''

str18 = input('Enter the string: ')

set_char = set(str18.replace(' ','').lower())

for i in set_char:
    
    print(f"Count of {i} = {str18.lower().count(i)}")

Enter the string:  Hello Mike testing

Count of i = 2
Count of n = 1
Count of h = 1
Count of l = 2
Count of e = 3
Count of g = 1
Count of o = 1
Count of m = 1
Count of t = 2
Count of s = 1
Count of k = 1

####  Q.37 Remove all the punctuation from the string.

In [38]:
'''Ans. 37  There are fourteen punctuation marks in english which are defined in 
            list below '''

# Importing string module for access of all the punctuations

import string

# Taking input from user 

str19= input("Enter the string for removal of punctuation: ")

# Checking the condition

for i in str19:
    
    if i in string.punctuation:
        
        str19 = str19.replace(i,'')
        
print(str19)

Enter the string for removal of punctuation:  Hello, World!

Hello World

#### Q.38 Check is string contains only digits

In [39]:
'''Ans.38'''

# Taking input from user for string

str20= input("Enter the string: ")

# Checking the condition

if str20.isdigit():

    print("Yes the string is only digit")

else:
    print("No it is not")

Enter the string:  12344

Yes the string is only digit

#### Q.39 Check if string is only alphabet

In [40]:
'''Ans.39'''

#Taking input from the user for string

str21= input("Enter the string: ")

# Checking the condition

if str21.isalpha():

    print("Yes the string is only alphabet")

else:
    print("No it is not")

Enter the string:  Hello

Yes the string is only alphabet

#### Q.40 Convert a string to a list of characters

In [41]:
'''Ans.40'''

# Taking input from user

str22= input("Enter the string: ")

# Coverting into list of characters

list_char=list(str22)

# Displaying the output

print(list_char)

Enter the string:  Hello

['H', 'e', 'l', 'l', 'o']

#### Q.41 Check if two string are anagrams

In [42]:
'''Ans.41   When a word is made from all the characters from another 
            word, then those two words are called anagrams
            '''

# Taking input from users

str23 = input("Enter the first string: ")
str24 = input("Enter the second string: ")

# Checking the conditions

if sorted(str23)==sorted(str24):
    print("The two strings are anagrams")

else:
    print("Not anagrams")

Enter the first string:  listen
Enter the second string:  silent

The two strings are anagrams

#### Q.42 Encode a string using a Caesar cipher

In [43]:
'''Ans.42   Caeser cipher is an encoding method where the letters are shifted by some
            fixed number of spaces'''

# Taking input from the user

str25= input("Enter the message: ")
shift = int(input("Provide the number of shift: "))

# using the string module

uppercase = list(string.ascii_uppercase)
lowercase = list(string.ascii_lowercase)

cryp_text = ''

# Checking the condition

for i in str25:
    if i in uppercase:
       index = uppercase.index(i)
       cryp = (index+shift)%26
       newLetter = uppercase[cryp]
       cryp_text += newLetter
    elif i in lowercase:
       index = lowercase.index(i)
       cryp = (index+shift)%26
       newLetter = lowercase[cryp]
       cryp_text += newLetter

# Displaying the crypted text

print(f"Caesar cipher = {cryp_text}")

Enter the message:  Hello
Provide the number of shift:  2

Caesar cipher = Jgnnq

#### Q.43 Decode a Caesar Cipher encoded string

In [44]:
'''Ans.43   Decoding the above generated caesar cipher message'''

# Taking input from the user

cipher_text = input("Enter the message to be decrypted: ")
shift2 = int(input("Provide the number of shift: "))

# using the string module

uppercase = list(string.ascii_uppercase)
lowercase = list(string.ascii_lowercase)

decode_msg = ''

# Checking the condition

for i in cipher_text:
    if i in uppercase:
       index = uppercase.index(i)
       cryp = (index-shift2)%26
       newLetter = uppercase[cryp]
       decode_msg += newLetter
    elif i in lowercase:
       index = lowercase.index(i)
       cryp = (index-shift2)%26
       newLetter = lowercase[cryp]
       decode_msg += newLetter

# Displaying the decoded text

print(f"Decoded msg is  = {decode_msg}")

Enter the message to be decrypted:  Ifmmp
Provide the number of shift:  1

Decoded msg is  = Hello

#### Q.44 Find the most frequent word in string

In [47]:
'''Ans.44'''

# Taking input of string from the user

str26=input("Enter the string for freq word check: ")

# converting str to list

list_str26 = str26.lower().split()

# checking the condition

frequent_word=max(list_str26, key= lambda x: list_str26.count(x))

# Displaying the output
print(frequent_word)

Enter the string for freq word check:  Har har Har har shambhu

har

#### Q.45 Find unique words in a string

In [ ]:
'''Ans.45 Unique words can be found in a string using set method'''

#Taking user input
str27 = input("Enter the string: ")

#Checking no of unique words and displaying output
print("The unique words in the strings are:")

for i in set(str27.lower().split()):
    print(i.capitalize())

#### Q.46 Count the number of syllables in a string

In [48]:
'''Ans.46'''

syllable_count=0

vowels='aeiouAEIOU'

str28= input("Enter the string:")

if str28[0] in vowels:
    syllable_count+=1
for i in range(1, len(str28)):
    if str28[i] in vowels and str28[i-1] not in vowels:
        syllable_count+=1

if str28.endswith('e'):
    syllable_count-=1

if str28.endswith('le') and len(str28)>2 and str28[-3] not in vowels:
    syllable_count+=1    
    
if syllable_count==0:
    syllable_count+=1

print(syllable_count)

Enter the string: Hello World

3

#### Q.47 Check if a string contains any special characters

In [49]:
'''Ans.47  To check whether string contains any special characters we will check
            whether it is not alphanumeric and no space to be counted as special characters'''

str29=input("Enter the string: ")

# Checking the condition

if not str29.replace(' ','').isalnum():

    print("The string has special characters")

else:
    print("No special characters")

Enter the string:  Hello@123

The string has special characters

#### Q.48 Remove nth word from a string

In [50]:
'''Ans.48'''

# Taking nth word as input

str30 = "Hi everyone, Aadipurush is very bad movie"

nth_word = int(input("which number is to be deleted"))

# deleting the word

str30_list = str30.split()

if nth_word <= len(str30_list):
    
    str30_list.pop(nth_word-1)

    after_del =' '.join(str30_list)

    # displaying the output
    
    print(after_del)

else:
    print("Number of words are less than the entered number")

which number is to be deleted 2

Hi Aadipurush is very bad movie

#### Q.49   Insert a word at nth position in a string

In [51]:
'''Ans.49 Adding a word in the above declared string in q.48'''

# Taking nth word as input
nth_word1=int(input("At which number position word is to be added"))
word=input("Enter the word to be added")

str30_list = str30.split()

if nth_word1 <= len(str30_list):
    
    str30_list.insert((nth_word1-1), word)

    after_addition =' '.join(str30_list)

    # displaying the output
    
    print(after_addition)

else:
    print("Number of words are less than the entered number")

At which number position word is to be added 5
Enter the word to be added very

Hi everyone, Aadipurush is very very bad movie

#### Q.50 Convert a CSV string to a list of list

In [52]:
'''Ans.50'''

str31= input("Enter a csv string: ")

list_of_list = [str31.split(",")]

print(list_of_list)

Enter a csv string:  hello, 123

[['hello', ' 123']]

# LIST BASED PRACTICE PROBLEMS

In [5]:
# 1. Create a list with integers from 1 to 10

list_int = [i for i in range(1,11)]

print(list_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# 2. Find the length of list without using the len function

list1= [1,23,3,4,5,6]

length_list1 = 0

for i in list1:

    length_list1 += 1

print(length_list1)

6

In [7]:
# 3. Append an element to the end of the list declared in above problem

list1.append('Shri Ram')

print(list1)

[1, 23, 3, 4, 5, 6, 'Shri Ram']

In [11]:
# 4. Insert an element at a specific index 2 in a list declared in problem 2

list1.insert(2, 'Shri Krishna')

print(list1)

[1, 'Shri Krishna', 'Shri Krishna', 3, 4, 5, 6, 'Shri Ram']

In [12]:
# 5. Remove an element from list declared in problem 2 by its value

list1.remove(3)

print(list1)

[1, 'Shri Krishna', 'Shri Krishna', 4, 5, 6, 'Shri Ram']

In [13]:
# 6. Remove an element from a list declared in problem 3 by its index 3

list1.pop(3)

print(list1)

[1, 'Shri Krishna', 'Shri Krishna', 5, 6, 'Shri Ram']

In [14]:
# 7. Check if an element exist in a list

if 'Shri Krishna' in list1:
    print('Yes the element is present in the list')
else:
    print('Not present')

Yes the element is present in the list

In [16]:
# 8. Find the index of the first occurence of an element in a list

list2= [1,2,3,2,4,3,1]

# finding the first occurence of element 3

list2.index(3)

2

In [18]:
# 9. count the occurences of an element 3 in a list delcared in problem 8

list2.count(3)

2

In [19]:
# 10. reverse the order of elements in a list declared in problem 8

list2[::-1]

[1, 3, 4, 2, 3, 2, 1]

In [21]:
# 11. Sort a list in ascending order

list3= [1,33,43,22,15,99]

list3.sort()
print(list3)

[1, 15, 22, 33, 43, 99]

In [22]:
# 12 Sort a list declared in problem 11 in descending order

list3.sort(reverse=True)
print(list3)

[99, 43, 33, 22, 15, 1]

In [23]:
# 13. Create a list of even numbers from 1 to 20

list_even = [i for i in range (1,21) if i%2==0]

print(list_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
# 14. Create a list of odd numbers from 1 to 20

list_odd = [i for i in range(1,21) if i%2!=0]
print(list_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
# 15. Find the sum of all elements in a list created in problem 13

sum(list_even)

110

In [27]:
# 16. Find the maximum value in the list in problem 13

max(list_even)

20

In [28]:
# 17 Find the minimum value in the list in problem 13

min(list_even)

2

In [29]:
# 18. Create a list of squares of numbers from 1 to 10

list_sq = [i**2 for i in range(1,11)]

print(list_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
# 19 Create a list of random numbers.

import random

list_random = []

for i in range(1,6):
    list_random.append(random.randint(1,200))

print(list_random)

[140, 31, 40, 86, 41]

In [43]:
# 20 Remove duplicates from a list

list4 = [1,2,2,3,4,4,3,5]

list_no_duplicates = [i for n,i in list(enumerate(list4)) if i not in list4[:n]]

print(list_no_duplicates)

[1, 2, 3, 4, 5]

In [46]:
# 21. Find the common elements between two lists

list5 = [2,2,3,5,6,7]

# finding common elements between list 4 and list5

list(filter(lambda x : x in list4, list5))

[2, 2, 3, 5]

In [47]:
# 22. Find the difference between two lists

# Difference between two lists means elements present in first but not in second

# for difference between list 4 and 5

list(filter(lambda x: x not in list5, list4))

[1, 4, 4]

In [49]:
# 23. Merge two list
# we will merge list 4 and list 5

merged_list = list4+list5

print(merged_list)

[1, 2, 2, 3, 4, 4, 3, 5, 2, 2, 3, 5, 6, 7]

In [56]:
# 24. Multiply all elements in list by 2

list6 = [2,4,5,3,7]

list_mul_2 = list(map(lambda x:x*2 , list6))

list_mul_2

[4, 8, 10, 6, 14]

In [57]:
# 25. Filter out all even numbers from a list
# taking merged list in problem 23

list_filter_even = list(filter(lambda x: x%2==0, merged_list))
print(list_filter_even)

[2, 2, 4, 4, 2, 2, 6]

In [59]:
# 26. Convert a list of strings into a list of integers

list_str = ['2', '34', '43', '1', '2', '89']

list_int = list(map(lambda x : int(x), list_str))

print(list_int)

[2, 34, 43, 1, 2, 89]

In [60]:
# 27. Convert a list of integers to a list of strings

# using the output of the above problem 26

list_str_from_int = list(map(lambda x: str(x), list_int))

print(list_str_from_int)

['2', '34', '43', '1', '2', '89']

In [61]:
# 28. Flatten a nested list

# declaring a list

nested_list = [[1,2,3], [4,5,6], [7,8,9]]

# flattening the list

flatten_list = []

for i in nested_list:

    flatten_list.extend(i)

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
# 29. Create a list of first 10 fibonacci numbers

''' Fibonacci number series is sequence of numbers where each term is the sum
of previous two numbers'''

fib_list= []

a=0
b=1
j=0
while j < 10:
    fib_list.append(a)
    c=b+a
    a=b
    b=c
    j+=1

print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [69]:
# 30. Check if a list is sorted

list7 = [4,3,2,1]

if list7 == sorted(list7) or list7 == sorted(list7, reverse=True):
    print("The list is sorted")
else:
    print("The list is unsorted")

The list is sorted

In [72]:
# 31. Rotate a list to the left by n positions

# taking n as input

n= int(input("Enter the value of n: "))

list8 = [1,2,3,5,7,8,10]

left_rotate = list8[n:]+list8[:n]

print(left_rotate)

Enter the value of n:  2

[3, 5, 7, 8, 10, 1, 2]

In [77]:
# 32. Rotate a list to the right by n positions

# taking n1 as input

n1 = int(input("Enter the n1 value:"))

list9= [1,2,3,5,4,3]

right_rotate = list9[(0-n):]+list9[:(0-n)]

print(right_rotate)

Enter the n1 value: 2

[4, 3, 1, 2, 3, 5]

In [102]:
# 33. Create a list of prime number upto 50

prime_list=[]

for i in range(2,51):
    for j in range(2,i):
        if i%j ==0:
            break
            
    else:
        prime_list.append(i)

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [105]:
# 34. Split a list into chunks of size n

# taking input n

n2= int(input("Enter the chunk size:"))

list10 = [1,2,3,4,5,6,7,8,9]

start = 0
end =len(list10)

# checking if it can be modified
if len(list10)%n2==0:

    for i in range (start, end, n2):
        x=i
        print(list10[x:x+n2])

else:
    print("List cannot be divided into given chunks")

Enter the chunk size: 3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [107]:
# 35. Find the second largest number in a list 

list11= [22,12,456,232,900]

list_sort= sorted(list11, reverse=True)

print(f"The second largest number in the list is = {list_sort[1]}")

The second largest number in the list is = 456

In [108]:
# 36. Replace every element in a list with its square

list12 = [2,3,4,5,6]

# replacing with a square

list12 = list(map(lambda x: x**2, list12))

print(list12)

[4, 9, 16, 25, 36]

In [109]:
''' 37. Convert a list to a dictionary where list elements become keys and 
    their indices becomes values'''

list13 = ['hello', 'hi', 'good', 'morning']

dict_list13 = {n:i for n,i in enumerate(list13)}

dict_list13

{0: 'hello', 1: 'hi', 2: 'good', 3: 'morning'}

In [115]:
# 38 Shuffle the elements of a list randomly

list14 = ['a', 'b', 'd', 'c', 'e','g']

random.shuffle(list14)

print(list14)

['e', 'a', 'd', 'g', 'b', 'c']

In [132]:
# 39. Create a list of the first 10 factorial numbers.

import math

list_fact= [math.factorial(i) for i in range (1,11)]

print(list_fact)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [134]:
# 40  Check if two list have atleast one element in common

list15 = [4,6,7]

list16= [2,3,5,8,9]

# finding common elements between list 4 and list5

if len(list(filter(lambda x : x in list15, list16)))>=1:

    print("Yes the two list have atleast one element in common")

else:
    print("No element in common")

No element in common

In [135]:
# 41 Remove all elements from a list

list17 = [3,56,676,687898]

# clearing the elements

list17.clear()

list17

[]

In [136]:
# 42 Replace negetive numbers in a list with 0

list18 = [-1,2,3,4,-56]

list_0_for_negetive= list(map(lambda x : 0 if x<0 else x, list18))

print(list_0_for_negetive)

[0, 2, 3, 4, 0]

In [137]:
# 43 Convert a string into a list of words

String_for_conv = 'Jai Shree Ram'

list_of_word = String_for_conv.split()

print(list_of_word)

['Jai', 'Shree', 'Ram']

In [138]:
# 44 Convert a list of words into string

'''We will use the above output for the same'''

str_from_list_of_word =' '.join(list_of_word)

print(str_from_list_of_word)

Jai Shree Ram

In [141]:
# 45 Create a list of the first n powers of 2

n_for_power = int(input("Enter the value of n"))

# generating list

list_power_2 = [2**i for i in range(1,n_for_power+1)]

list_power_2

Enter the value of n 3

[2, 4, 8]

In [144]:
# 46 Find the longest string in a list of strings

list20 = ['Jai', 'Shree', 'Ramji', 'Krishna']

longest_str = max(list20, key=lambda x:len(x))

longest_str

'Krishna'

In [145]:
# 47 Find the shortest string in a list of strings

# using the above string

shortest_str = min(list20, key=lambda x: len(x))

shortest_str

'Jai'

In [3]:
# 48 Create a list of first n triangular numbers

'''triangular numbers are represented by n(n+1)/2'''
n_tr = int(input("Enter the value of n"))

# generating the list
list_triangle_num = [int(i*(i+1)/2) for i in range (1,n_tr+1)]

print(list_triangle_num)

Enter the value of n 10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [10]:
# 49. Check if a list contains another list as a subsequence

list21= [1,3,5,9]

list22=[7,8]

if len(list21)>len(list22):
    if all(x in list21 for x in list22):
        print("Yes second list is subsequence of the first list.")
    else:
        print("No it is not subsequence")
else:
    if all(x in list22 for x in list21):
        print("Yes the first list is subsequence of the second list")
    else:
        print("No it is not subsequence")

No it is not subsequence

In [11]:
# 50. Swap two elements in a list by their indices

index1= int(input("Enter the first index: "))
index2= int(input("Enter the second index: "))

list23 = [1,5,6,7,9,0]

list23[index1], list23[index2] = list23[index2], list23[index1]

print(list23)

Enter the first index:  3
Enter the second index:  2

[1, 5, 7, 6, 9, 0]

# TUPLE BASED PRACTICE PROBLEM

In [13]:
# 1. Create a tuple with integer from 1 to 5

t1 = tuple([x for x in range(1,6)])

print(t1)

(1, 2, 3, 4, 5)

In [14]:
# 2. Access the third element of a tuple

'''Taking the above tuple for reference'''

print("The third element of the tuple is =", t1[2])

The third element of the tuple is = 3

In [15]:
# 3. Find the length of a tuple without using the len function

'''Finding the length of the tuple created in problem1'''

length_tuple=0

for i in t1:
    length_tuple += 1

print("The length of the tuple is = ", length_tuple)

The length of the tuple is =  5

In [16]:
# 4. Count the occurences of an element in a tuple

t2= (2,2,4,5,7,9,2)

# counting the no. of occurences of 2
t2.count(2)

3

In [17]:
# 5. Find the index of the first occurences of an element in a tuple

'''Finding the first occurence of element 4 in tuple declared in problem 4'''

t2.index(4)

2

In [18]:
# 6. Check if an element exists in a tuple

'''Checking if 5 exists in tuple declared in problem 4'''

if 5 in t2:
    print("Yes it exists")

else:
    print("No it doesn't")

Yes it exists

In [19]:
# 7. Convert a tuple to a list

'''Converting the tuple in problem 4 into list'''

list_from_tuple = list(t2)

print(list_from_tuple)

[2, 2, 4, 5, 7, 9, 2]

In [20]:
# 8. Convert a list to a tuple

'''Converting output of problem 7 into tuple'''

tuple_from_list = tuple(list_from_tuple)

print(tuple_from_list)

(2, 2, 4, 5, 7, 9, 2)

In [21]:
# 9. Unpack the elements of a tuple into variables

tuple2 = ('Mango', 'Potato', '5 Star')

(fruits, vegetables, chocolates) = tuple2

print(fruits)
print(vegetables)
print(chocolates)

Mango
Potato
5 Star

In [22]:
# 10. Create a tuple of even numbers from 1 to 10

tuple_even = tuple([x for x in range(1,11) if x%2==0])

print(tuple_even)

(2, 4, 6, 8, 10)

In [23]:
# 11. Create a tuple of odd numbers from 1 to 10

tuple_odd = tuple([x for x in range(1,11) if x%2!=0])

print(tuple_odd)

(1, 3, 5, 7, 9)

In [24]:
# 12. Concatenate two tuples

'''Concatenating tuple_even and tuple_odd'''

tuple_even + tuple_odd

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [25]:
# 13. Repeat a tuple three times

'''Repeating tuple_even 3 times'''

tuple_even*3

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [30]:
# 14. Check if a tuple is empty

t3 = (1,2,3)

if len(t3)==0:
    print("It is empty tuple")

else:
    print("It is not empty")

It is not empty

In [32]:
# 15. Create a nested tuple

nested_tuple = ((1,2,3,4), (5,6,7,8))

print(nested_tuple)

((1, 2, 3, 4), (5, 6, 7, 8))

In [33]:
# 16. Access the first element of the nested tuple

nested_tuple[0][0]

1

In [36]:
# 17. Create a tuple with a single element

t4 = ('Shri',)

print(t4)

('Shri',)

In [10]:
# 18. Compare two tuples

tuple_first = (2,2,3)
tuple_second = (1,2,3)

if tuple_first > tuple_second:
    print("First tuple is greater than second one")

elif tuple_first < tuple_second:
    print("Second tuple is greater than first one")

else:
    print("Both tuples are equal")

First tuple is greater than second one

In [40]:
# 19. Delete a tuple

t5= (3,5,6,7,89)

print(t5)

del t5

t5

(3, 5, 6, 7, 89)

NameError: name 't5' is not defined

In [41]:
# 20. Slice a tuple

t7 = (4,5,6,7,33,466,899)

t7[2:5]

(6, 7, 33)

In [42]:
# 21. Find maximum value in a tuple

'''For this purpose we will use the tuple declared in problem 20'''

max(t7)

899

In [45]:
# 22. Find minimum value in a tuple

'''For this purpose we will use the tuple declared in problem 20'''

min(t7)

4

In [47]:
# 23. Convert a string into tuple of characters

'''using string 'pwskills' as input'''

tuple_from_str = tuple('pwskills')

print(tuple_from_str)

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [50]:
# 24. Convert a tuple of characters to a string

'''Using output of problem 23'''

str_from_tuple = ''.join(tuple_from_str)

print(str_from_tuple)

pwskills

In [52]:
# 25. Create a tuple from multiple data types

t8 = (2, 23.5, True, 5+6j, 'Hello', [7,8, 'Hi'], ('Show', 'how'), {3,4,6}, {'key':'value'})

print(t8)

(2, 23.5, True, (5+6j), 'Hello', [7, 8, 'Hi'], ('Show', 'how'), {3, 4, 6}, {'key': 'value'})

In [54]:
# 26. Check if two tuples are identical

t9 = (1,2,3)
t10 = (1,2,)

if t9 == t10:
    print("The tuples are identical")

else:
    print("Not identical")

Not identical

In [55]:
# 27. Sort the elements of a tuple

t11 = (12,2,56,4,78)

sorted(t11)

[2, 4, 12, 56, 78]

In [56]:
# 28. Convert a tuple of integers to tuple of string

'''Using the tuple declared in above problem'''

tuple_str = tuple(map(lambda x : str(x), t11))

print(tuple_str)

('12', '2', '56', '4', '78')

In [57]:
# 29. Convert a tuple of string to a tuple of integer

'''Using the output of the above problem'''

tuple_integer = tuple(map(lambda x: int(x), tuple_str))

print(tuple_integer)

(12, 2, 56, 4, 78)

In [59]:
# 30. Merge two tuples

t12 = (1,2,3)
t13 = (4,5,6)

# merging above tuples

t12+t13

(1, 2, 3, 4, 5, 6)

In [61]:
# 31. Flatten a nested tuple

'''Using the nested tuple declared in above problem no 15'''

print("The nested tuple is = ", nested_tuple)

# Flattening the same

flat_tuple = ()

for i in range(0, len(nested_tuple)):
    flat_tuple += nested_tuple[i]

print("The flattened tuple is = ", flat_tuple)

The nested tuple is =  ((1, 2, 3, 4), (5, 6, 7, 8))
The flattened tuple is =  (1, 2, 3, 4, 5, 6, 7, 8)

In [71]:
# 32 Create a tuple of first 5 prime numbers

prime_list1 = []

for i in range(1,100):
    for j in range(2,i):
        if i%j ==0:
            break
        
    else:
        prime_list1.append(i)
        if len(prime_list1) == 5:
            break

prime_tuple = tuple(prime_list1)

print(prime_tuple)

(1, 2, 3, 5, 7)

In [72]:
# 33. Check if tuple is palindrome

t14 = (1,2,3,2,1)

# Checking the palindrome

if t14 == t14[::-1]:
    print("The tuple is palindrome")

else:
    print("Not palindrome")

The tuple is palindrome

In [74]:
# 34. Create a tuple of squares of numbers from 1 to 5

tuple_sq = tuple([x**2 for x in range(1,6)])

print(tuple_sq)

(1, 4, 9, 16, 25)

In [76]:
# 35. Filter out all even numbers from a tuple

t15 = (32,47,44,89,91,36)

# filtering out

t15_even = tuple(filter(lambda x: x%2==0, t15))

print(t15_even)

(32, 44, 36)

In [77]:
# 36. Multiply all elements in a tuple by 2

'''Using the same tuple in problem 35 above'''

t15_mul_2 = tuple(map(lambda x: x*2, t15))

print(t15_mul_2)

(64, 94, 88, 178, 182, 72)

In [85]:
# 37. Create a tuple of randome numbers

import random

list_random1 = []

for i in range(1,11):
    list_random1.append(random.randint(1,200))

tuple_random = tuple(list_random1)

print(tuple_random)

(159, 197, 135, 93, 2, 150, 146, 157, 96, 200)

In [115]:
# 38. Check if a tuple is sorted

t16 = (5,2,1)

# checking about sorting

if t16 == tuple(sorted(t16)) or t16 == tuple(sorted(t16, reverse=True)):
    print("The tuple is sorted")

else:
    print("Not sorted")

The tuple is sorted

In [12]:
# 39. Rotate a tuple to the left by n position

# taking n as input
n_tple= int(input("Enter the value of n: "))

t17 = (1,3,45,67,2,4)

l_t17 =list(t17)

left_rotate_l_t17 = l_t17[n_tple:]+l_t17[:n_tple]

t17_rotate_left = tuple(left_rotate_l_t17)

print(t17_rotate_left)

Enter the value of n:  2

(45, 67, 2, 4, 1, 3)

In [13]:
# 40. Rotate a tuple to the right by n position

# taking n1 as input

n_tple1 = int(input("Enter the n1 value:"))

'''Taking tuple declared in the above problem 39'''

right_rotate_l = l_t17[(0-n_tple1):]+l_t17[:(0-n_tple1)]

t17_tple_right =tuple(right_rotate_l)

print(t17_tple_right)

Enter the n1 value: 1

(4, 1, 3, 45, 67, 2)

In [15]:
# 41. Create a tuple of the first 5 fibonacci numbers

''' Fibonacci number series is sequence of numbers where each term is the sum
of previous two numbers'''

fib_lst= []

a=0
b=1
j=0
while j < 5:
    fib_lst.append(a)
    c=b+a
    a=b
    b=c
    j+=1

fib_tple =tuple(fib_lst)

print(fib_tple)

(0, 1, 1, 2, 3)

In [20]:
# 42. Create a tuple from user input

user_lst = []

tple_element = input("Enter the element for tuple: ")
user_lst.append(tple_element)

while True:
    
    check = input("Do you want to add more elements? y/n")
    if check=='y' or check =='Y':
        tple_element = input("Enter the next element for tuple: ")
        user_lst.append(tple_element)

    else:
        break

user_tple = tuple(user_lst)

print("The tuple by user input is = ", user_tple)

Enter the element for tuple:  2
Do you want to add more elements? y/n y
Enter the next element for tuple:  56
Do you want to add more elements? y/n n

The tuple by user input is =  ('2', '56')

In [21]:
# 43. Swap two elements in a tuple

t18 = (1,5,6,7,9)

# swapping the element

l_t18 = list(t18)

first_in = int(input("Give first index for swap"))
second_in = int(input("Give second index for swap"))

l_t18[first_in] , l_t18[second_in] = l_t18[second_in] , l_t18[first_in]

t18 = tuple(l_t18)

print(t18)

Give first index for swap 1
Give second index for swap 2

(1, 6, 5, 7, 9)

In [22]:
# 44. Reverse the elements of a tuple

'''Using the t18 declared in above problem'''

t18[::-1]

(9, 7, 5, 6, 1)

In [23]:
# 45. Create a tuple of the first n powers of 2

n_pr = int(input("Enter the value of n for powers of 2"))

tpl_power_2 = tuple([2**i for i in range(1, n_pr+1)])

print(tpl_power_2)

Enter the value of n for powers of 2 5

(2, 4, 8, 16, 32)

In [25]:
# 46. Find the longest string in a tuple of string

t19 = ('Jai', 'Shri', 'Krishna')

max(t19, key=len)

'Krishna'

In [26]:
# 47. Find the shortest string in a tuple of string

'''From above declared tuple'''

min(t19, key=len)

'Jai'

In [28]:
# 48. Create a tuple of the first n triangular numbers

n_tr1= int(input("Enter the value of n for triangular no."))

tuple_trng = tuple([int(i*(i+1)/2) for i in range(1, n_tr1+1)])

print(tuple_trng)

Enter the value of n for triangular no. 5

(1, 3, 6, 10, 15)

In [34]:
# 49. Check if a tuple contains another tuple as a subsequence

t20= (1,3,5,9)

t21=(1,3)

if len(t20)>len(t21):
    if all(x in t20 for x in t21):
        print("Yes second tuple is subsequence of the first tuple.")
    else:
        print("No it is not subsequence")
else:
    if all(x in t21 for x in t20):
        print("Yes the first tuple is subsequence of the second tuple")
    else:
        print("No it is not subsequence")

Yes second tuple is subsequence of the first tuple.

In [36]:
# 50. Create a tuple of alternating 1s an 0s of length n

l_1_0_tple = []

n_le= int(input("Enter the length of tuple: "))

while n_le>0:

    l_1_0_tple.append(1)
    n_le-=1
    l_1_0_tple.append(0)
    n_le-=1

tple_1_0 = tuple(l_1_0_tple)

print(tple_1_0)

Enter the length of tuple:  5

(1, 0, 1, 0, 1, 0)

# SET BASED PRACTICE PROBLEM

In [38]:
# 1. Create a set with integer from 1 to 5

s1= {i for i in range(1,6)}

print(s1)

{1, 2, 3, 4, 5}

In [39]:
# 2. Add an element to a set

'''Adding element to the set output of problem 1'''

s1.add(6)

print(s1)

{1, 2, 3, 4, 5, 6}

In [40]:
# 3. Remove an element from set

'''Removing element from the output of problem 2'''

s1.remove(6)

print(s1)

{1, 2, 3, 4, 5}

In [41]:
# 4. Check if an element exists in a set

'''Checking if element 5 is in s1 which is output of problem 3'''

if 5 in s1:
    print("Yes it is in the set")

else:
    print("Not in set")

Yes it is in the set

In [42]:
# 5. Find the length of set without using len() function

'''Finding length of set output of problem 3'''

length_set = 0

for i in s1:
    length_set += 1

print("Length of the set is = ", length_set)

Length of the set is =  5

In [43]:
# 6. Clear all elements from a set

s2= {4,6,7,8}

s2.clear()

print(s2)

set()

In [48]:
# 7. Create a set of even numbers from 1 to 10

set_even = {i for i in range(1,11) if i%2==0}

print(set_even)

{2, 4, 6, 8, 10}

In [49]:
# 8. Create a set of odd numbers from 1 to 10

set_odd = {i for i in range(1,11) if i%2!=0}

print(set_odd)

{1, 3, 5, 7, 9}

In [51]:
# 9. Find the union of two sets

'''Finding union of even set and odd set which are output 
of problem 7 and 8'''

union_set = set_even.union(set_odd)

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
# 10. Find the intersection of two sets

s3 = {2,3,5,6,8}

s4 = {5,6,7,88,76}

# finding the intersection

int_s3_s4 = s3.intersection(s4)

print(int_s3_s4)

{5, 6}

In [54]:
# 11. Find the difference between two sets

'''Finding difference between s3 and s4 declared in above problem'''

diff_set = s3.difference(s4)

print(diff_set)

{8, 2, 3}

In [55]:
# 12. Check if a set is subset of another set

s5 = {1,2,3,4,5,6,7}
s6 = {3,4,5}

if s6.issubset(s5):
    print(f"{s6} is subset of {s5}")

else:
    print("It is not subset")

{3, 4, 5} is subset of {1, 2, 3, 4, 5, 6, 7}

In [56]:
# 13. CHeck if a set is superset of another set

'''For s5 and s6 declared in above problem'''

if s5.issuperset(s6):
    print(f"{s5} is superset of {s6}")

else:
    print("No it is not superset")

{1, 2, 3, 4, 5, 6, 7} is superset of {3, 4, 5}

In [57]:
# 14. Create a set from a list

list_for_set = [3,5,6,7,4,3,7,8,0,2]

set_from_list = set(list_for_set)

print(set_from_list)

{0, 2, 3, 4, 5, 6, 7, 8}

In [58]:
# 15. Convert a set to a list

'''Converting output of above problem to list'''

list_from_set = list(set_from_list)

print(list_from_set)

[0, 2, 3, 4, 5, 6, 7, 8]

In [59]:
# 16. remove a random element from a set

'''pop method removes a random element from set'''

s7 = {5,6,7,8,3,4}

s7.pop()

print(s7)

{4, 5, 6, 7, 8}

In [65]:
# 17. Pop an element from a set

'''popping element 5 from the set s7 declared in above problem'''

s7.remove(5)

print(s7)

{4, 6, 7, 8}

In [64]:
# 18. Check if two sets have no common elements

s8 = {2,3,4,6,7}

s9 = {2,9,67,87}

if len(s8.intersection(s9))==0:

    print("No common elemets")

else:
    print("Two sets have some common elements")

Two sets have some common elements

In [67]:
# 19. Find the symmetric difference between two sets

s10 = {2,3,4,6,7}
s11 = {1,2,4,6,8}

# symmetric difference between both set
s10.symmetric_difference(s11)

{1, 3, 7, 8}

In [68]:
# 20. Update a set with elements from another set

s12 = {1,2,3,4}
s13 = {5,6,7,8}

# updating s12 with elements of s13
s12.update(s13)

print(s12)

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
# 21. Create a set of the first 5 prime numbers

prime_set = set()

for i in range(1,100):
    for j in range(2,i):
        if i%j ==0:
            break
        
    else:
        prime_set.add(i)
        if len(prime_set) == 5:
            break

print(prime_set)

{1, 2, 3, 5, 7}

In [70]:
# 22. Check if two sets are identical

s14 = {1,2,3,4}
s15 = {1,2,3,4}

if s14==s15:
    print("Both sets are identical")

else:
    print("Not identical")

Both sets are identical

In [74]:
# 23. Create a frozen set

'''Frozen set is immutable set '''

frz_set = frozenset({1,2,3,4})

print(frz_set)

frozenset({1, 2, 3, 4})

In [76]:
# 24. Check if a set is disjoint with another set

'''a disjoint set of other set if no common elements''' 

s16 = {1,2,3}
s17 = {4,5}

if s16.isdisjoint(s17):
    print(f"{s16} is disjoint with {s17}")

else:
    print("Not disjoint")

{1, 2, 3} is disjoint with {4, 5}

In [77]:
# 25. Create a set of squares of numbers from 1 to 5

{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

In [78]:
# 26. Filter out even numbers from a set

all_nums = {i for i in range(1,11)}

print("The master set for this problem is = ", all_nums)

num_even = set(filter(lambda x:x%2==0, all_nums))

print("The filtered set with even numbers is = ", num_even)

The master set for this problem is =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
The filtered set with even numbers is =  {2, 4, 6, 8, 10}

In [79]:
# 27. Multiply all elements of set by 2

all_nums_odd = {i for i in range(1,11) if i%2!=0}

print("The master set for this problem is = ", all_nums_odd)

num_mul = set(map(lambda x:x*2, all_nums_odd))

print("The set with elements multiplied by 2 is = ", num_mul)

The master set for this problem is =  {1, 3, 5, 7, 9}
The set with elements multiplied by 2 is =  {2, 6, 10, 14, 18}

In [83]:
# 28. Create a set of random numbers

import random

i=5
rand_set= set()

while i>0:
    rand_set.add(random.randint(23,200))
    i -= 1
print("The random set of length 5 is = ",rand_set)

The random set of length 5 is =  {97, 99, 104, 142, 31}

In [84]:
# 29. Check if a set is empty

s18 = {2,3,4}

if len(s18)==0:
    print("The set is empty")

else:
    print("The set is not empty")

The set is not empty

In [7]:
# 30. Create a nested set (using frozen set)

nested_set = set()

nested_set.add(frozenset((1,2)))
nested_set.add(frozenset((3,4)))
nested_set.add(frozenset((5,6)))

print(nested_set)

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

In [9]:
# 31. Remove an element from a set using the discard method

s19 = {3,4,5,6,7}

s19.discard(5)

print(s19)

{3, 4, 6, 7}

In [20]:
# 32. Compare two sets

s_1 = {1,2,3,4}
s_2 = {2,1,3}

if s_1 == s_2:
    print("Both sets are equal")

else:
    if s_1.isdisjoint(s_2):
        print("First and second sets have no elements in common")

    else:
        print("First and second sets have common elements")

    if s_1.issubset(s_2):
        print("First set is subset of second one")

    else:
        print("First set is not subset of second one")

    if s_1.issuperset(s_2):
        print("First set is superset of second set")
    else:
        print("Not superset")

First and second sets have common elements
First set is not subset of second one
First set is superset of second set

In [21]:
# 33. create a set from string 

str_for_set = 'pwskills'
set_str = set(str_for_set)

print(set_str)

{'p', 's', 'l', 'i', 'k', 'w'}

In [22]:
# 34. Convert a set of strings to a set of integers

set_of_str = {'1','2','3','4'}

set_int_from_str = set(map(lambda x: int(x), set_of_str))

print(set_int_from_str)

{1, 2, 3, 4}

In [23]:
# 35. Convert a set of integers to a set of strings

'''Using output of problem 35 '''

set_from_int = set(map(lambda x:str(x), set_int_from_str))

print(set_from_int)

{'4', '2', '3', '1'}

In [25]:
# 36. Create a set from tuple

t_s = ('Jai', 'Shri', 'Ram')

# creating set from tuple
s_t = set(t_s)

# displaying the output
print(s_t)

{'Jai', 'Ram', 'Shri'}

In [26]:
# 37. Convert a set into tuple

'''Using output of above problem into tuple'''

# converting the set into tuple
t_s1 = tuple(s_t)

# displaying the output
print(t_s1)

('Jai', 'Ram', 'Shri')

In [29]:
# 38. Find the maximum value in set

s22 = {34,67,899, 343}

# finding max value

max(s22)

899

In [30]:
# 39. Find the minimum value in set

'''Using above declared set for the purpose'''

# finding minimum value

min(s22)

34

In [33]:
# 40. Create a set from user input

user_set = set()

set_element = input("Enter the element for set: ")
user_set.add(set_element)

while True:
    
    check = input("Do you want to add more elements? y/n")
    if check=='y' or check =='Y':
        set_element = input("Enter the next element for set: ")
        user_set.add(set_element)

    else:
        break

print("The set created by user input is = ", user_set)

Enter the element for set:  Hi
Do you want to add more elements? y/n y
Enter the next element for set:  Hello
Do you want to add more elements? y/n y
Enter the next element for set:  Good
Do you want to add more elements? y/n y
Enter the next element for set:  Morning
Do you want to add more elements? y/n n

The set created by user input is =  {'Hello', 'Morning', 'Good', 'Hi'}

In [34]:
# 41. Check if the intersection of two sets is empty

s23 = {3,4,5,8}
s24 = {3,4,6}

# checking the condition
if s23.isdisjoint(s24):
    print("The intersection of two sets is empty")

else:
    print("Not empty")

Not empty

In [35]:
# 42. Create a set of first 5 fibonacci numbers

''' Fibonacci number series is sequence of numbers where each term is the sum
of previous two numbers'''

fib_set= set()

a=0
b=1
j=0
while j < 5:
    fib_set.add(a)
    c=b+a
    a=b
    b=c
    j+=1

# displaying output
print(fib_set)

{0, 1, 2, 3}

In [36]:
# 43. Remove duplicates from a list using sets

lst_dup = ['Tera', 'Tera','Tera', 'Suroor']

print("List with duplicates is = ", lst_dup)

print("List without duplicates is =", list(set(lst_dup)))

List with duplicates is =  ['Tera', 'Tera', 'Tera', 'Suroor']
List without duplicates is = ['Tera', 'Suroor']

In [37]:
# 44. Check if two sets have the same elements regardless of their count

'''As the sets do not contain any duplicate items, hence 'regardless of their count'
    means nothing'''

s25 = {1,2,3,4}
s26 = {1,2,3,3,4,4}

# Checking the condition

if s25==s26:
    print("Both sets have same elements")

else:
    print("Different elements in set")

Both sets have same elements

In [38]:
# 45. Create a set of the first n powers of 2

{2**i for i in range(1,6)}

{2, 4, 8, 16, 32}

In [39]:
# 46. Find the common elements between a set and a list

lst_1 = [2,3,5,7,1]
set_1 = {2,3,89,77}

# set of common elements between set and list are

set_1.intersection(set(lst_1))

{2, 3}

In [40]:
# 47. Create a set of the first n triangular numbers

# taking input from user
n_tr_st= int(input("Enter the value of n for triangular no."))

# creating the set
set_trng = {int(i*(i+1)/2) for i in range(1, n_tr_st+1)}

#displaying output
print(set_trng)

Enter the value of n for triangular no. 10

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [45]:
# 48. Check if a set contains another set as a subset

s27 = {1,2,3,4,5,6,7,8}
s28 = {3,4,5}

# checking the condition
if s27.issuperset(s28):
    print(f"{s28} is sub set of {s27}")
else:
    print("No super set")

{3, 4, 5} is sub set of {1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
# 49. Create a set of alternating 1s and 0s of length n

'''No it cannont be created as the set is unordered collection with no duplicate
elements'''

'No it cannont be created as the set is unordered collection with no duplicate\nelements'

In [48]:
# 50. Merge multiple sets into one.

s29 = {1,2,3}
s30 = {4,5,6}
s31 = {7,8,9}

# Merging the above sets
s_merged = s29.union(s30,s31)

# displaying the output
print(s_merged)

{1, 2, 3, 4, 5, 6, 7, 8, 9}